.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #4885ba;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 56px;
  width: 188px;
  height: 49px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 114px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 769px;
  top: 56px;
}
.home-page {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  width: 1100px;
  position: absolute;
  left: 170px;
  top: 239px;
}
.lets-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.today-lets-create-a-sample-website-design-in-figma-and-export-it-to-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 1013px;
}
.call-to-action-button {
  background: #a8ff35;
  border-radius: 10px;
  padding: 14px 21px 14px 21px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 483px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
